:root {
  --primary-color: #3F51B5;
  --secondary-color: #FFC107;
  --background-color: #FFFFFF;
  --card-color: #E0E0E0;
  --text-color: #212121;
  --accent-color: #4CAF50;
  --hover-color: #9C27B0;
  --contrast-color: #F44336;
  --disabled-color: #BDBDBD;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: var(--background-color);
}
