:root {
  --primary-color: #3f51b5;
  --secondary-color: #ffc107;
  --background-color: #ffffff;
  --card-color: #e0e0e0;
  --text-color: #212121;
  --accent-color: #4caf50;
  --hover-color: #9c27b0;
  --contrast-color: #f44336;
  --disabled-color: #bdbdbd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: var(--background-color);
}

img {
  max-width: 100px;
  height: auto;
}
